﻿@{
    ViewBag.Title = "О сервисе";
}
<h2>Что это такое?</h2>

<p>Вашему вниманию представлен сервис по автоматическому отслеживанию объявлений о продаже автомобилей с основных сайтов объявлений
</p>
