﻿@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>

<address>
    @*г. Уфа<br />
    <br />*@
    @*<abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:developer.ufa@gmail.com">developer.ufa@gmail.com</a><br />
    <strong>Маркетинг:</strong> <a href="mailto:xxxami.spm@gmail.com">xxxami.spm@gmail.com</a>
</address>