﻿@model EasyFind.WebApp.Models.SearchCarModel

@Scripts.Render(
    "~/bundles/angular",
    "~/bundles/tasks-manager")

@Styles.Render(
    "~/Content/angular",
    "~/Content/tasks-manager")

@{
    ViewBag.Title = "Поиск";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tasks-manager" ng-app="tasksManager">
    <tasks-manager params='@Html.Raw(Json.Encode(Model))'></tasks-manager>
</div>
