﻿<div>
    <span>Текущие задачи</span>
    <div>
        <span>{{vm.sites.avito}}</span>
        <div ng-repeat="task in vm.tasks.avito">
            {{task.BrandName}}
            <i class="material-icons" ng-click="vm.remove(task.Id, vm.sites.avito)" title="Удалить">&#xE14C;</i>
        </div>
    </div>
</div>