﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Заблокирован";
}

<hgroup>
    <h1 class="text-danger">Заблокировано.</h1>
    <h2 class="text-danger">Этот аккаунт заблокирован, попробуйте повторить позднее или обратитесь в поддержку (см. контакты)</h2>
</hgroup>
