﻿<div>
    <h2>Поиск</h2>
    <div class="sites">
        <span>Выберите сайт</span>
        <md-select ng-model="vm.userData.ui.site" aria-label="site">
            <md-option ng-value="site" ng-repeat="site in vm.data.SitesNames">{{ site }}</md-option>
        </md-select>
    </div>
    <div class="site-block" ng-if="vm.userData.ui.site === vm.sites.avito">
        <span>Выберите марку</span>
        <md-select id="avito-cars" ng-model="vm.userData.ui.avito.brandId" aria-label="avito-cars">
            <md-option ng-value="car.Id" ng-repeat="car in vm.data.AvitoCars">{{ car.Name }}</md-option>
        </md-select>
    </div>
    <md-button ng-if="vm.userData.ui.avito.brandId" ng-click="vm.CreateTask()">Создать задачу</md-button>
    <tasks-viewer sites="vm.sites"></tasks-viewer>
</div>